[submodule "tools/cascade-yosys"]
	path = tools/cascade-yosys
	url = https://github.com/YosysHQ/yosys.git
[submodule "tools/riscv-gnu-toolchain"]
	path = tools/riscv-gnu-toolchain
	url = https://github.com/riscv-collab/riscv-gnu-toolchain
[submodule "tools/morty"]
	path = tools/morty
	url = https://github.com/pulp-platform/morty.git
[submodule "tools/bender"]
	path = tools/bender
	url = https://github.com/pulp-platform/bender.git
[submodule "tools/makeelf"]
	path = tools/makeelf
	url = https://github.com/flaviens/makeelf
[submodule "tools/verilator"]
	path = tools/verilator
	url = https://github.com/verilator/verilator.git
[submodule "tools/sv2v"]
	path = tools/sv2v
	url = https://github.com/zachjs/sv2v.git
[submodule "tools/riscv-isa-sim"]
	path = tools/riscv-isa-sim
	url = https://github.com/riscv-software-src/riscv-isa-sim.git
[submodule "tools/cellift-yosys"]
	url = https://github.com/flaviens/disco-yosys.git
